In [38]:
import psycopg2
from psycopg2.extras import execute_values
from urllib.parse import urlencode

In [39]:
# Connect to PostgreSQL database
def connect_to_postgres():
    conn = psycopg2.connect(
        host="localhost",       
        database="lombardia_air_quality", 
        user="airdata_user",    
        password="user"
    )
    return conn

In [40]:
# CREATE TABLE
def create_table_user():
    """
    Crea la tabella users nel database se non esiste.
    """
    print("Creating users table...")
    conn = connect_to_postgres()
    cur = conn.cursor()
    cur.execute("""
        DROP TABLE IF EXISTS users;
        CREATE TABLE users (
            id SERIAL PRIMARY KEY,
            username TEXT UNIQUE NOT NULL,
            email TEXT UNIQUE NOT NULL,
            password TEXT NOT NULL,
            type TEXT NOT NULL default 'user',
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
    """)
    conn.commit()
    cur.close()
    conn.close()

In [41]:
# Add default users
def insert_default_users():
    conn = connect_to_postgres()
    cur = conn.cursor()
    
    users = [
        ('admin', 'admin@admin.com', 'admin', 'admin'),
        ('user name', 'user@email.com', 'user', 'user'),
        ('test', 'test@test.com', 'test', 'user'),
    ]
    
    for user in users:
        try:
            cur.execute("""
                INSERT INTO users (username, email, password, type) VALUES (%s, %s, %s, %s)
            """, user)
        except Exception as e:
            print(f"Errore inserimento utente {username}: {e}")
    
    conn.commit()
    cur.close()
    conn.close()

In [42]:
def select_users():
    try:
        conn = connect_to_postgres()
        cur = conn.cursor()
        cur.execute("SELECT id, username, email, type, created_at FROM users;")
        rows = cur.fetchall()
        cur.close()
        return rows
    except Error as e:
        print("Errore durante la SELECT:", e)
        return []
    finally:
        if conn:
            conn.close()

In [43]:
# EXECUTE TO ADD TABLE AND SAMPLE DATA

create_table_user()
insert_default_users()

select_users()

Creating users table...

[(1,
  'admin',
  'admin@admin.com',
  'admin',
  datetime.datetime(2025, 5, 26, 15, 34, 30, 770897)),
 (2,
  'user name',
  'user@email.com',
  'user',
  datetime.datetime(2025, 5, 26, 15, 34, 30, 770897)),
 (3,
  'test',
  'test@test.com',
  'user',
  datetime.datetime(2025, 5, 26, 15, 34, 30, 770897))]